@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text-dark: #171717;
  --text-light: #525252;
  --extra-light: #a3a3a3;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  text-align: center;
}

.section__description {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--text-light);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.header {
  min-height: 600px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.9)),
    url("assets/header.JPG");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: var(--text-dark);
}

.nav__logo img {
  max-width: 70px;
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links .nav__logo {
  display: none;
}

.nav__links a {
  padding-bottom: 5px;
  font-weight: 500;
  color: var(--white);
  border-bottom: 2px solid transparent;
}

.nav__links a:hover {
  border-color: var(--white);
}

.about__container .section__description {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.about__container img {
  max-width: 170px;
  margin-inline: auto;
}


/* work section */
#work {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), 
              url('assets/work-pic.jpg') center/cover no-repeat fixed;
  color: var(--white);
  padding: 7rem 0;
}
#work .container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}
#work .title {
  margin-bottom: 5rem;
}
#work .title h2 {
  font-size: 2rem; 
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: var(--header-font);
  position: relative;
  color: var(--white);
}
#work .title h2::after {
  position: absolute;
  content: "";
  top: 120%;
  left: 0;
  width: 70px;
  height: 4px;
  background-color: var(--white);
}
#work .work-content ul.work-top {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
#work .work-content ul.work-top li.lead {
  opacity: 0.9;
  padding: 1rem 0 1rem 3rem;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--white);
  position: relative;
}
#work .work-content ul.work-top li.lead i {
  position: absolute;
  top: 1.2rem;
  left: 0;
  font-size: 1.1rem;
  color: var(--white);
}
.work-bottom {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin-top: 4rem;
  text-align: center;
}
.work-bottom > div {
  transition: 0.3s ease;
}
.work-bottom > div:hover {
  transform: scale(0.95);
}
.work-bottom > div .icon img {
  width: 50px;
  margin: 0 auto 1.7rem auto;
}
.work-bottom > div h3 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
#work .btn-down {
  font-size: 3rem;
  display: inline-block;
  margin-top: 4rem;
  transition: 0.3s;
  color: var(--white);
}
#work .btn-down:hover {
  opacity: 0.8;
  transform: translateY(5px);
}

/* Media Queries */
@media (min-width: 450px) {
  .work-bottom {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }
}
@media (min-width: 768px) {
  #work .work-content ul.work-top {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
  }
  .work-bottom {
    grid-template-columns: repeat(4, 1fr);
  }
}


.portfolio__grid {
  margin-top: 2rem;
  display: grid;
  gap: 1rem;
}

.portfolio__card {
  position: relative;
  isolation: isolate;
}

.portfolio__card::after {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-family: var(--header-font);
  color: var(--white);
}

.portfolio__card:nth-child(1)::after {
  content: "Portraits";
}

.portfolio__card:nth-child(2)::after {
  content: "Weddings";
}

.portfolio__card:nth-child(3)::after {
  content: "Fashions";
}

.portfolio__content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.3s;
  z-index: 1;
}

.portfolio__card:hover .portfolio__content {
  opacity: 1;
}

.service {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("assets/service.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.service__container .section__header {
  color: var(--white);
}

.service__container .section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--extra-light);
}

.service__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem;
}

.service__card {
  text-align: center;
}

.service__card h4 {
  position: relative;
  isolation: isolate;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.service__card h4::after {
  position: absolute;
  content: "~";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  line-height: 0;
}

.service__card p {
  color: var(--extra-light);
  line-height: 1.75rem;
}

.client__container {
  padding-bottom: 2rem;
}

.swiper {
  margin-top: 2rem;
  padding-bottom: 3rem;
  width: 100%;
}

.client__card {
  max-width: 900px;
  margin-inline: auto;
  text-align: center;
}

.client__card img {
  max-width: 120px;
  margin-inline: auto;
  margin-bottom: 2rem;
  border-radius: 100%;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

.client__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  line-height: 1.75rem;
}

.client__card h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.swiper-pagination-bullet-active {
  background-color: var(--text-dark);
}

.gallery__grid {
  margin-block: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__grid img {
  transition: 0.3s;
}

.gallery__grid:hover img:not(:hover) {
  opacity: 0.5;
}

.gallery__btn {
  text-align: center;
}

.blog {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("assets/blog.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.blog__container {
  padding-block: 8rem;
  display: grid;
}

.blog__content {
  text-align: center;
}

.blog__content .section__header {
  margin-bottom: 2rem;
  color: var(--white);
}

.blog__content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.blog__content p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  color: var(--extra-light);
}

.blog__content .btn {
  background-color: transparent;
  border: 1px solid var(--white);
}

.instagram__container {
  overflow: hidden;
}

.instagram__flex {
  margin-top: 2rem;
  width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;

  animation: scroll 45s linear infinite;
}

.instagram__flex img {
  max-width: 135px;
}

.gallery__grid img,
.instagram__flex img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* keeps all images square */
  object-fit: cover;   /* crops and fills the container neatly */
  border-radius: 8px;  /* optional for a nicer look */
  transition: 0.3s;
}

#contact {
  padding: 5rem 1rem;
  background-color: #f8f8f8;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.contact-left {
  max-width: 600px;
  text-align: center;
}

.contact-left h2 {
  font-family: var(--header-font);
  font-size: 2rem;
  color: var(--text-dark);
  margin-bottom: 1rem;
}

.contact-left p.lead {
  font-size: 1.1rem;
  color: var(--text-light);
  margin-bottom: 1rem;
}

.contact-left form {
  margin-top: 2rem;
}

.contact-left form .form-control {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1.2rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.contact-left .btn-submit {
  background-color: var(--text-dark);
  color: var(--white);
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.contact-left .btn-submit:hover {
  background-color: #000;
}

.contact-right img {
  max-width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .contact-content {
    flex-direction: row;
    justify-content: center;
    gap: 4rem;
  }

  .contact-left {
    flex: 1;
    text-align: left;
  }

  .contact-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-right img {
    max-width: 80%;
  }
}



@keyframes scroll {
  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.footer__container {
  display: grid;
  gap: 4rem 0;
  align-items: center;
}

.footer__col {
  padding-inline: 2rem;
}

.footer__container img {
  max-width: 170px;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.footer__socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials a {
  font-size: 1.5rem;
  color: var(--text-dark);
}

.footer__socials a:hover {
  color: var(--text-light);
}

.footer__links {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer__links a {
  display: block;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.footer__links a:hover {
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
  text-align: center;
}

.footer__col p {
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--extra-light);
  background-color: var(--text-dark);
  text-align: center;
}

@media (width > 540px) {
  .portfolio__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .service__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .gallery__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-area: 1/1/2/3;
  }

  .footer__col:nth-child(3) {
    border-left: 2px solid var(--text-dark);
  }
}

@media (width > 768px) {
  .header {
    min-height: 650px;
  }

  nav {
    padding: 2rem 1rem;
    position: static;
    max-width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__header {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: 100%;
    position: static;
    transform: none;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
  }

  .nav__links .nav__logo {
    display: block;
  }

  .nav__links .nav__logo img {
    max-width: 150px;
  }

  .portfolio__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .blog__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blog__content {
    grid-column: 2/3;
  }

  .footer__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-area: 1/2/2/3;
    border-left: 2px solid var(--text-dark);
    border-right: 2px solid var(--text-dark);
  }

  .footer__col:nth-child(3) {
    border: none;
  }
}

@media (width > 1024px) {
  .header {
    min-height: 700px;
  }

  .portfolio__grid {
    gap: 2rem;
  }
}

/* Chat bot */

.bot-logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 10px;
}

.chatbot-toggle {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  font-size: 28px;
  z-index: 100;
  transition: all 0.3s ease;
}

.chatbot-toggle:hover {
  transform: scale(1.1);
}

.chatbot-container {
  position: fixed;
  bottom: 100px;
  right: 30px;
  width: 300px;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 99;
  display: none;
  flex-direction: column;
  transition: all 0.3s ease;
}

.chatbot-container.show {
  display: flex;
}

.chatbot-header {
  padding: 1rem;
  background-color: var(--text-dark);
  color: var(--white);
  text-align: center;
}

.chatbot-header h4 {
  margin-bottom: 0.25rem;
  font-family: var(--header-font);
}

.chatbot-messages {
  padding: 1rem;
  height: 250px;
  overflow-y: auto;
  font-size: 0.95rem;
  color: var(--text-dark);
}

.chatbot-messages p {
  margin-bottom: 0.8rem;
}

.chatbot-messages .user {
  text-align: right;
  color: var(--text-dark);
  margin-bottom: 0.5rem;
}

.chatbot-messages .bot {
  text-align: left;
  color: var(--text-light);
  margin-bottom: 0.5rem;
}

.chatbot-input {
  display: flex;
  border-top: 1px solid #eee;
}

.chatbot-input input {
  flex: 1;
  padding: 0.8rem;
  border: none;
  outline: none;
}

.chatbot-input button {
  background-color: var(--text-dark);
  color: var(--white);
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.chatbot-input button:hover {
  background-color: var(--text-light);
}


.typing {
  font-style: italic;
  color: gray;
}
/* pricing card - start */

.pricing-card {
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.pricing-card button {
  background-color: var(--text-dark);
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  margin-top: 0.6rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pricing-card button:hover {
  background-color: var(--text-light);
}

/* pricing card - end */